//$primary-color: rgb(2, 173, 173);
$primary-color: #3d52b9;
//$primary-color: #d440b1;
$font-family-primary: "Roboto", sans-serif;
$text-color: #333;
$success-color: #28a745;
$danger-color: #dc3545;
