// Google Font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

//Google Material Icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "styles/vars";

.-Hidden {
  display: none;
}

.-NoScroll {
  overflow: hidden;
}

.PresizeQ {
  font-family: $font-family-primary;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &__Wrapper {
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.Card {
  padding: 16px;
  width: 85%;
  height: max-content;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-color;
  position: relative;
  margin-bottom: 5%;
  margin-top: 12%;

  &__Close {
    position: absolute;
    top: -5%;
    background-color: #fff;
    color: $text-color;
    border: $text-color solid 2px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    &:hover {
      cursor: pointer;
      color: lighten($text-color, 2);
      background-color: darken(#fff, 10);
      border-color: lighten($text-color, 2);
    }

    &Icon {
    }
  }

  &__Title {
    font-size: 48px;
    font-weight: 900;
    color: $primary-color;
  }

  &__Subheading {
    font-size: 20px;
  }
}

.PresizeQ__Button {
  color: white;
  background-color: $primary-color;
  font-family: $font-family-primary;
  font-size: 16px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    margin-right: 4px;
  }

  &:hover {
    background-color: lighten($primary-color, 3);
    cursor: pointer;
  }
}

.ImageSection {
  width: 100%;
  height: 60%;
}

.DummyImage {
  width: 100%;
  height: 40vh;
  background-color: gray;
}

.ReactionSection {
  display: flex;
  margin: 10px 0;

  & > * {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid $text-color 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    padding: 12px;
  }

  .Reaction__No {
    color: #fff;
    background-color: lighten($danger-color, 5);
  }

  .Reaction__Yes {
    color: #fff;
    background-color: lighten($success-color, 5);
  }
}

.-LargeIcon {
  font-size: 40px;
}

.BuyNow {
  margin-top: auto;
  width: 100%;

  &__Button {
    text-decoration: none;
    color: white;
    background-color: $primary-color;
    padding: 20px 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 4px;

    .material-icons {
      margin-right: 10px;
    }
  }
}

.CollectionDropdown {
  font-size: 18px;
  border-radius: 4px;
  border: #666 solid 2px;
  padding: 4px 0;
  width: 100%;
  text-align: center;
  margin: 10px 0;

  &:focus {
    outline: 0;
  }
}

.Settings {
  align-self: flex-start;

  .material-icons {
    font-size: 30px;
  }
}

.ImageSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
